{% extends 'base.html' %}
{% load static %}
{% block title %}Planos{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'stylesCSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesCSS/stylePerfil.css' %}">
{% endblock css %}

{% block content %}

<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="lojasCadastradas.html">Lojas Cadastradas</a></li>
                <li><a href="EMBREVE.html">Coleções em Alta</a></li>
                <li><a href="EMBREVE.html">Contato</a></li>
            </ul>
        </nav>

        <div class="container">
            <!-- ROW do Menu -->
            <div class="row">
                <div class="col-3 col-sm-3 col-mb-2 col-lg-2 col-xl-2 align-items-center d-none d-lg-block">
                    <img class="imgLogo" src="{% static 'imagens/CLOTHS ICON.png' %}" alt="">
                </div>
                <!-- Culuna barra de Pesquisa -->
                <div class="col-8 col-sm-8 col-mb-9 col-lg-7 col-xl-7">
                    <form action="" method="GET">
                        {% csrf_token %}
                        <div id="divBusca">
                            <input name="query" type="text" id="txtBusca" placeholder="Busque por Lojas, Cidades e Coleções" />
                            <button type="submit"><img src="{% static 'imagens/lupinha.png' %}" alt=""></button>
                        </div>
                    </form>
                </div>
                <!-- Culuna login -->
                <div class="col-2">
                    <div class="logBOX">
                        <a href="{% url 'perfil' %}">
                            {% if request.user.is_authenticated %}
                                {% if not request.user.foto_usuario %}
                                    <div class="userFT">{{request.user.nome.0}}</div>
                                {% elif request.user.foto_usuario %}
                                    <div class="userFT"><img src="{{request.user.foto_usuario.url}}"></div>
                                {% endif %}
                               <!--  -->
                               
                            {% endif %}
                        </a>
                        <div class="loginTXT">
                            {% if request.user.is_authenticated == False %}
                                <a href="{% url 'login' %}">LOGIN</a>
                            {% elif request.user.is_authenticated %}
                                <a href="{% url 'sair' %}">SAIR</a>
                            {% endif %}  
                        </div>
                            {% if request.user.is_authenticated == False %}
                                <a href="{% url 'login' %}"><img class="setinhaFT" src="{% static 'imagens/setinha.png'%}" alt=""></a>
                            {% elif request.user.is_authenticated %}
                                <a href="{% url 'sair' %}"><img class="setinhaFT" src="{% static 'imagens/setinha.png'%}" alt=""></a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </header>


    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="box-preco">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <div class="card-preco">
                                    <h1>NORMAL</h1>
                                    <h2>R$120,00</h2>
                                    <h3>por mês</h3>
                                    <div>
                                        <img src="{% static 'imagens/1.png' %}" alt="">
                                        <p>Acesso a 1 coleção de roupas</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png' %}" alt="">
                                        <p>Mais visibilidade na plataforma</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png' %}" alt="">
                                        <p>Anuncios personalizados</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png' %}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png' %}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png' %}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <a href="{% url 'atualizar' %}?plano=normal"><button>REGISTRE-SE</button></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <div class="card-preco">
                                    <h1>PLUS</h1>
                                    <h2>R$259,00</h2>
                                    <h3>por mês</h3>
                                    <div>
                                        <img src="{% static 'imagens/1.png'%}" alt="">
                                        <p>Acesso a 1 coleção de roupas</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/1.png'%}" alt="">
                                        <p>Mais visibilidade na plataforma</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Anuncios personalizados</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <a href="{% url 'atualizar'%}?plano=plus"><button>REGISTRE-SE</button></a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                <div class="card-preco">
                                    <h1>PRO</h1>
                                    <h2>R$367,00</h2>
                                    <h3>por mês</h3>
                                    <div>
                                        <img src="{% static 'imagens/1.png'%}" alt="">
                                        <p>Acesso a 1 coleção de roupas</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/1.png'%}" alt="">
                                        <p>Mais visibilidade na plataforma</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/1.png'%}" alt="">
                                        <p>Anuncios personalizados</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'imagens/2.png'%}" alt="">
                                        <p>Disponivel em breve</p>
                                    </div>
                                    <a href="{% url 'atualizar' %}?plano=pro"><button>REGISTRE-SE</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="rodapeBOX">
            <div class="container align-items-center">
                <div class="row">
                    <div class="col-6 col-sm-5 col-mb-4 col-lg-3 col-xl-3  d-none d-lg-block">
                        <div class="circulo-branco">
                            <img src="{% static 'imagens/CLOTHS ICON.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                        <p class="ttRodape">INICIO</p>
                        <p class="txRodape">
                            <a href="">Home</a>
                            <a href="">Cidades</a>
                            <a href="">Roupas</a>
                            <a href="">Coleções</a>
                        </p>
                    </div>
                    <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                        <p class="ttRodape">Sobre nós</p>
                        <p class="txRodape">
                            <a href="">Informações Gerais</a>
                            <a href="">Empresa</a>
                            <a href="">Blog</a>
                        </p>
                    </div>
                    <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                        <p class="ttRodape">Suporte</p>
                        <p class="txRodape">
                            <a href="">Telefones</a>
                            <a href="">Chat</a>
                        </p>
                    </div>
                    <div class="col-5 col-sm-5 col-mb-5 col-lg-3 col-xl-3 d-none d-lg-block">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <a href="">
                                    <div class="imgBoxCircleW"><img class="igmIconRodape" src="{% static 'imagens/insta.png' %}"
                                            alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="">
                                    <div class="imgBoxCircleW"><img class="igmIconRodape" src="{% static 'imagens/face.png' %}" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="">
                                    <div class="imgBoxCircleW"><img class="igmIconRodape" src="{% static 'imagens/tw.png' %}" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="">
                                    <button class="bntRodape">contato</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodapeLinhaMn"></div>
        <div class="rodapeLinhaPt">
            <p>CONDICIONAL SEM LIMITES</p>
        </div>
    </footer>


{% endblock content %}

