<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesCSS/style.css">
    <link rel="stylesheet" href="stylesCSS/stylePerfil.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>perfil_usuario</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="lojasCadastradas.html">Lojas Cadastradas</a></li>
                <li><a href="EMBREVE.html">Coleções em Alta</a></li>
                <li><a href="EMBREVE.html">Contato</a></li>
            </ul>
        </nav>

        <div class="container">
            <!-- ROW do Menu -->
            <div class="row">
                <div class="col-3 col-sm-3 col-mb-2 col-lg-2 col-xl-2 align-items-center d-none d-lg-block">
                    <img class="imgLogo" src="imagens/CLOTHS ICON.png" alt="">
                </div>
                <!-- Culuna barra de Pesquisa -->
                <div class="col-8 col-sm-8 col-mb-9 col-lg-7 col-xl-7">
                    <div id="divBusca">
                        <input type="text" id="txtBusca" placeholder="Busque por Lojas, Cidades e Coleções" />
                        <button type="button"><img src="imagens/lupinha.png" alt=""></button>
                    </div>
                </div>
                <!-- Culuna login -->
                <div class="col-2">
                    <div class="logBOX">
                        <a href="perfil_usuario.html"><div class="userFT">M</div></a>
                        <div class="loginTXT">
                            <a href="login.html">LOGIN</a>
                        </div>
                        <a href="login.html"><img class="setinhaFT" src="imagens/setinha.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <section>
        <nav>
            <input class="menu_user_bnt" type="checkbox">
            <ul class="menu-user">
                <li><a href="perfil_adimin_lojas.html">Informações da loja</a></li>
                <li><a class="active" href="perfil_adimin .html">Perfil do adiministrador</a></li>
                <li><a href="perfil_adimin_editar.html">Editar Perfil</a></li>
                <li><a href="minhas_colecoes.html">Minhas coleções</a></li>
                <li><a href="meus_pacotes.html">Meus pacotes</a></li>
            </ul>
        </nav>
    </section>
    

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="box-color-lr">
                        <img src="imagens/9a5a18d55121d82359078da58c64e0fb.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="box-color-cz">
                        <div>
                            <h5>Informações de contato</h5>
                        </div>
                        <hr>
                        <div>
                            <h3>Nome</h3>
                            <p>Nome do usuario</p>
                        </div>
                        <div>
                            <h3>Email</h3>
                            <p>Exemplodeemail@gmail.com</p>
                        </div>
                        <div>
                            <h3>Telefone</h3>
                            <p>(69) 9843442-8922</p>
                        </div>
                        <div>
                            <h3>Endereço</h3>
                            <p>Avenida Lins de Vasconcelos, 234; Avenida Paulista, 316</p>
                        </div>
                        <div class="buttons_user_edd">
                            <a href="perfil_usuario_editar.html"><button>Editar Perfil</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <footer>
        <div class="rodapeBOX">
            <div class="container align-items-center">
                <div class="row">
                    <div class="col-6 col-sm-5 col-mb-4 col-lg-3 col-xl-3  d-none d-lg-block">
                        <div class="circulo-branco">
                            <img src="imagens/CLOTHS ICON.png" alt="">
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                        <p class="ttRodape">INICIO</p>
                        <p class="txRodape">
                            <a href="">Home</a>
                            <a href="">Cidades</a>
                            <a href="">Roupas</a>
                            <a href="">Coleções</a>
                        </p>
                    </div>
                    <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                        <p class="ttRodape">Sobre nós</p>
                        <p class="txRodape">
                            <a href="">Informações Gerais</a>
                            <a href="">Empresa</a>
                            <a href="">Blog</a>
                        </p>
                    </div>
                    <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                        <p class="ttRodape">Suporte</p>
                        <p class="txRodape">
                            <a href="">Telefones</a>
                            <a href="">Chat</a>
                        </p>
                    </div>
                    <div class="col-5 col-sm-5 col-mb-5 col-lg-3 col-xl-3 d-none d-lg-block">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <a href="">
                                    <div class="imgBoxCircleW"><img class="igmIconRodape" src="imagens/insta.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="">
                                    <div class="imgBoxCircleW"><img class="igmIconRodape" src="imagens/face.png" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="">
                                    <div class="imgBoxCircleW"><img class="igmIconRodape" src="imagens/tw.png"
                                            alt=""></div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="">
                                    <button class="bntRodape">contato</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodapeLinhaMn"></div>
        <div class="rodapeLinhaPt">
            <p>CONDICIONAL SEM LIMITES</p>
        </div>
    </footer>
</body>
</html>