{% extends 'base.html' %}
{% load static %}
{% block title %}Editar Perfil da Loja{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'stylesCSS/style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesCSS/stylePerfil.css' %}">
{% endblock css %}

{% block content %}

<header>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="lojasCadastradas.html">Lojas Cadastradas</a></li>
            <li><a href="EMBREVE.html">Coleções em Alta</a></li>
            <li><a href="EMBREVE.html">Contato</a></li>
        </ul>
    </nav>

    <div class="container">
        <!-- ROW do Menu -->
        <div class="row">
            <div class="col-3 col-sm-3 col-mb-2 col-lg-2 col-xl-2 align-items-center d-none d-lg-block">
                <img class="imgLogo" src="{% static 'imagens/CLOTHS ICON.png' %}" alt="">
            </div>
            <!-- Culuna barra de Pesquisa -->
            <div class="col-8 col-sm-8 col-mb-9 col-lg-7 col-xl-7">
                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Busque por Lojas, Cidades e Coleções" />
                    <button type="button"><img src="{% static 'imagens/lupinha.png' %}" alt=""></button>
                </div>
            </div>
            <!-- Culuna login -->
            <div class="col-2">
                <div class="logBOX" id="logBOX">
                    <a href="{% url 'perfil_loja'%}">
                        {% if request.user.is_authenticated %}
                            {% if not request.user.foto_usuario %}
                                <div class="userFT">{{request.user.nome.0}}</div>
                            {% elif request.user.foto_usuario and not request.user.is_loja_admin %}
                                <div class="userFT"><img src="{{request.user.foto_usuario.url}}"></div>
                            {% elif request.user.is_loja_admin and loja.logo_loja %}
                                <div class="userFT"><img src="{{loja.logo_loja.url}}"></div>
                            {% endif %}
                           <!--  -->
                           
                        {% endif %}
                    </a>
                    <div class="loginTXT">
                        {% if request.user.is_authenticated == False %}
                            <a href="{% url 'login' %}">LOGIN</a>
                        {% elif request.user.is_authenticated %}
                            <a href="{% url 'sair' %}">SAIR</a>
                        {% endif %}  
                    </div>
                        {% if request.user.is_authenticated == False %}
                            <a href="{% url 'login' %}"><img class="setinhaFT" src="{% static 'imagens/setinha.png'%}" alt=""></a>
                        {% elif request.user.is_authenticated %}
                            <a href="{% url 'sair' %}"><img class="setinhaFT" src="{% static 'imagens/setinha.png'%}" alt=""></a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

</header>


<section>
    <nav>
        <input class="menu_user_bnt" type="checkbox">
        <ul class="menu-user">
            <li><a class="active" href="{% url 'perfil_loja' %}">Informações da loja</a></li>
            <li><a href="{% url 'perfil_admin'%}">Perfil do adiministrador</a></li>
            <li><a href="{% url 'editar_perfil_admin'%}">Editar Perfil</a></li>
            <li><a href="{% url 'minhas_colecoes'%}">Minhas coleções</a></li>
            <li><a href="meus_pacotes.html">Meus pacotes</a></li>
        </ul>
    </nav>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="box-color-cz">
                    <form action="" method="POST"  class="form-bt" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <p>DADOS DA LOJA</p>
                            </div>
                            <input name="logo" type="file" style="display:none;" id="foto_usuario" accept="image/*">
                            <div class="col-12">
                                <input class="inptDADOS" value="{{loja.nome_loja}}" name="nome_loja" placeholder="NOME DA LOJA" type="text" required>
                            </div>
                            <div class="col-12">
                                {% if loja.telefone_loja %}
                                    <input class="inptDADOS" value="{{loja.telefone_loja}}" name="telefone_loja" placeholder="TELEFONE" type="text" required>
                                {% else %}
                                    <input class="inptDADOS" value="{{request.user.telefone}}" name="telefone_loja" placeholder="TELEFONE" type="text" required>
                                {% endif %}
                            </div>
                            <div class="col-12">
                                {% if loja.email_loja %}
                                    <input class="inptDADOS" value="{{loja.email_loja}}" name="email_loja" placeholder="EMAIL" type="text" required>
                                {% else %}
                                    <input class="inptDADOS" value="{{request.user.email}}" name="email_loja" placeholder="EMAIL" type="text" required>
                                {% endif %}
                                
                            </div>
                            <div class="col-12">
                                <br>
                                <p>LOCALIZAÇÂO DA LOJA</p>
                            </div>
                            <div class="col-3">
                                <input class="inptDADOS" value="{{loja.cep_loja}}" name="cep_loja" placeholder="CEP" type="text" name="cep" id="cep"  onblur="pesquisacep(this.value)" required>
                            </div>
                            <div class="col-4">
                                <input class="inptDADOS" value="{{loja.estado_loja}}" name="estado_loja" placeholder="ESTADO" type="text" name="uf" id="uf" required>
                            </div>
                            <div class="col-5">
                                <input class="inptDADOS" value="{{loja.cidade_loja}}" name="cidade_loja" placeholder="CIDADE" type="text" name="cidade" id="cidade" required>
                            </div>
                            <div class="col-7">
                                <input class="inptDADOS" value="{{loja.rua_loja}}" name="rua_loja" placeholder="RUA" type="text" name="rua" id="rua" required>
                            </div>
                            <div class="col-5">
                                <input class="inptDADOS" value="{{loja.bairro_loja}}" name="bairro_loja" placeholder="BAIRRO" type="text" name="bairro" id="bairro">
                            </div>
                            <script src="{% static 'script/locate.js' %}"></script>
                        </div>
                        <div class="buttons_user_edd">
                            <button>CONFIRMAR ALTERAÇÕES</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="box-color-lr">
                    {% if loja.logo_loja %}
                        <img id="foto" src="{{loja.logo_loja.url}}"
                        alt="">
                    {% else %}
                        <img id="foto" src="{% static 'imagens/user2.png'%}"
                        alt="">
                    {% endif %}
                    <label for="foto_usuario"><img src="{% static 'imagens/trocar-camera.png' %}" alt=""></label>
                </div>
            </div>
        </div>
    </div>
</section>





<footer>
    <div class="rodapeBOX">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-6 col-sm-5 col-mb-4 col-lg-3 col-xl-3  d-none d-lg-block">
                    <div class="circulo-branco">
                        <img src="{% static 'imagens/CLOTHS ICON.png' %}" alt="">
                    </div>
                </div>
                <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                    <p class="ttRodape">INICIO</p>
                    <p class="txRodape">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="">Cidades</a>
                        <a href="">Roupas</a>
                        <a href="">Coleções</a>
                    </p>
                </div>
                <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                    <p class="ttRodape">Sobre nós</p>
                    <p class="txRodape">
                        <a href="">Informações Gerais</a>
                        <a href="">Empresa</a>
                        <a href="">Blog</a>
                    </p>
                </div>
                <div class="col-4 col-sm-4 col-mb-4 col-lg-2 col-xl-2">
                    <p class="ttRodape">Suporte</p>
                    <p class="txRodape">
                        <a href="">Telefones</a>
                        <a href="">Chat</a>
                    </p>
                </div>
                <div class="col-5 col-sm-5 col-mb-5 col-lg-3 col-xl-3 d-none d-lg-block">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <a href="">
                                <div class="imgBoxCircleW"><img class="igmIconRodape" src="{% static 'imagens/insta.png' %}"
                                        alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="">
                                <div class="imgBoxCircleW"><img class="igmIconRodape" src="{% static 'imagens/face.png' %}" alt="">
                                </div>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="">
                                <div class="imgBoxCircleW"><img class="igmIconRodape" src="{% static 'imagens/tw.png' %}" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="">
                                <button class="bntRodape">contato</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rodapeLinhaMn"></div>
    <div class="rodapeLinhaPt">
        <p>CONDICIONAL SEM LIMITES</p>
    </div>
</footer>

<script src="{% static 'script/editar.js'%}" defer></script>

{% endblock content %}